// colors
$primaryColor: #3255f6;
$lightBlue: #66a6d1;
$blackColor: #000000;
$whiteColor: #ffffff;
$greyColor: #d3d3d3;
$borderColor: #979c9e;
$chatBgColor: #fcfcfcf2;
$bgColor: #e4e4e4;
$textBg: #f2f4f5;
$iconBg: #f2f8ff;

:export {
    blue: $primaryColor;
  }